<!doctype html>
<html lang="en">

<body>

{{>layouts/header}}


 <h1>{{username}} Hello World</h1>
 <h1>Hello, world!</h1>

 <button type="button" class="btn btn-primary">Primary</button>
 <button type="button" class="btn btn-secondary">Secondary</button>
 <button type="button" class="btn btn-success">Success</button>

<ul class="list-group">
  <li class="list-group-item active" aria-current="true">An active item</li>
  <li class="list-group-item">A second item</li>
  <li class="list-group-item">A third item</li>
  <li class="list-group-item">A fourth item</li>
  <li class="list-group-item">And a fifth one</li>
</ul>



 {{>layouts/footer}}

</body>
</html>