{{>layouts/header}}

<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
        </tr>
        </thead>
        <tbody>
        {{#list}}
        <tr>
            <th scope="row">{{id}}</th>
            <td>{{title}}</td>
            <td>{{contents}} <br></td>
        </tr>
        {{/list}}
        </tbody>
    </table>

</div>

{{>layouts/footer}}