{{>layouts/header}}

<div>
    {{#header}}

    {{/header}}
    {{^header}}

    {{/header}}

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Contents</th>
        </tr>
        </thead>
        <tbody>
        {{#list}}
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="/articles/{{id}}"> {{title}}</a></td>
            <td>{{content}} <br></td>
        </tr>
        {{/list}}
        </tbody>
    </table>

</div>

{{>layouts/footer}}