{{>layouts/header}}

<div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Contents</th>
        </tr>
        </thead>
        <tbody>
        {{#list}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{openServiceName}}</a></td>
                <td>{{openLocalGovernmentCode}} <br></td>
                private String hospitalName;
                @Column
                private String businessTypeName;
                @Column
                private int healthcareProviderCount;
                @Column
                private int patientRoomCount;
                @Column
                private int totalNumberOfBeds;
                @Column
                private float totalAreaSize;
                <td>{{managementNumber}} </td>
                <td>{{licenseDate}} </td>
                <td> {{businessStatus}}</td>
                <td> {{businessStatusCode}}</td>
                <td>{{phone}} </td>
                <td>{{fullAddress}} </td>
                <td> {{roadNameAddress}}</td>
                <td> </td>
            </tr>
        {{/list}}
        </tbody>
    </table>

</div>

{{>layouts/footer}}